.container{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    padding: 0px 20px 0px 20px;
    margin:auto;
    margin-top: 90px;
    justify-content: space-around;;
}

.side-container{
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

mat-icon{
    margin-left: 10px;
}

mat-icon:hover{
    color: rgba(0, 0, 0, 0.3);
}

mat-icon:hover{
    cursor: pointer;
}

.img_input{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.img_input img{
    height:300px;
}

.img_input app-position{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.img_input form{
    display: flex;
    flex-direction: column;
    max-width: 720px;
}

.img_input form input{
    margin-bottom: 20px
}
.img_input form app-share-button{
    margin: 0px auto 20px auto;
}
.img_input a{
    text-align: center;
    margin-top: 20px;
}

.img_input form input[type=submit]{
    max-width: 300px;
    margin: auto;
}

.text-container {
    background-color: white;
    width: 75%;
    margin: auto;
    padding: 10px 15px 20px 15px;
}

.text-container .icon-container{
    display: flex;
    justify-content: right;
}

.text-container .icon-container mat-icon{
    right: 20px;
}

.text-container .text{
    padding: 0px 40px 15px 20px;
}



.input-container input{
    width: 350px;
}
