<div class="container">
    <div class="side-container left"></div>
    <div class="img_input">
        <img *ngIf="picture" [src]="picture.url">
        <app-position></app-position>
        <form (submit)="vote()">
            <div class="input-container">
                <input [(ngModel)]="title" type="text" class="title" name="title">
                <mat-icon (click)="toggleInfoByClick()" [appInfoPopup]="info">info_outline</mat-icon>
                <app-share-button></app-share-button>
            </div>
            <input type="submit" value="senden">
        </form>
        <a [routerLink]="['']">Startseite</a>
    </div>
    <div class="side-container right">
        <app-next-button [base_url]="base_url" [last_url]="'/vote/bye'"></app-next-button>
    </div>
</div>

<ng-template #info>
    <div class="text-container">
        <div class="icon-container">
            <mat-icon (click)="removeInfoByClick()">close</mat-icon>
        </div>
        <div class="text">
            Wir befragen mit dieser Umfrage zuerst den Menschen:
            <br><br>
            Was siehst du in den Bildern? Kannst du das Geschriebene noch lesen? Oder siehst du bereits abstrakte
            Objekte,
            Handlungen oder Menschen?
            <br><br>
            Beschreibe deine Assoziationen im Eingabefeld und klicke «senden» um zum nächsten Bild zu gelangen.
            Mit den Pfeiltasten kannst du einzelne Bilder überspringen.
            <br><br>
            Du kannst die Umfrage jederzeit abbrechen, ohne dass deine bisherigen Interpretationen gelöscht werden.
        </div>
    </div>
</ng-template>