.container{
    display: flex;
    justify-content: space-around;
}

.side-container{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    width:100%
}

.titles{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titles > *{
    max-width: 300px;
    min-width: 160px;
}

.headline {
    font-weight:bold;
    font-family: Lato;
    margin-bottom: 20px;
}

.archive-link{
    text-align: center;
    margin: 10px 0px 20px;
}

.interpretation{
    padding-top:10px;
}

.human-titles .newest{
    font-weight: bold;
}

.human-titles .sorted{
    margin-top: 15px;
    font-weight: bold;
}

img{
    display:block;
    margin:auto;
}
