<div class="container">
    <div class="side-container left">
        <app-prev-button [base_url]="base_url"></app-prev-button>
    </div>
    <div *ngIf="picture" class="body">
        <img [src]="picture.url" width="300">
        <div class="share-container">
            <app-share-button></app-share-button>
        </div>
        <div class="titles">
            <div class="human-titles">
                <div class="human-headline headline">
                    Probanden Interpretationen
                </div>
                <div *ngFor="let title of picture.titles" class="human-interpretation interpretation">
                    {{title.title}}: {{title.votes}}
                </div>
            </div>
            <div class="baseline-titles">
                <div class="human-headline headline">
                    Baseline Interpretationen
                </div>
                <div *ngFor="let title of picture.baseline_titles" class="baseline-interpretation interpretation">
                    {{title.title}}
                </div>
            </div>
            <div class="seq2seq-titles">
                <div class="human-headline headline">
                    Seq2Seq Interpretationen
                </div>
                <div *ngFor="let title of picture.seq2seq_titles" class="seq2seq-interpretation interpretation">
                    {{title.title}}
                </div>
            </div>
        </div>
        <div class="archive-link">
            <a routerLink="/archiv">Archiv</a>
        </div>
    </div>
    <div class="side-container right">
        <app-next-button [base_url]="base_url"></app-next-button>
    </div>
</div>