.container{
    display: flex;
    justify-content: space-around;
}

.archive-link{
    text-align: center;
    margin: 10px 0px 20px;
}

.human-titles{
    max-width: 300px;
}

.human-title{
    padding-top:10px;
}

.side-container{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}