@import "../../../styles.scss";

.container{
    max-width: 720px;
    margin: auto;

    .title{
        margin-top: 50px;
    }
}

.link-container{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}