<div class="container">
    <div class="text-container">
        <div class="title">
            Spiele gegen künstliche Intelligenz
            <br>
            „Ich sehe was, was du nicht siehst“.
        </div>

        <div class="text">
            Kann eine Maschine Bilder betrachten? Olivia Büchel und Martin Villavicencio gehen dieser Frage auf den
            Grund. Im Rahmen des Diplomprojekts des Bachelor Art Education der ZHdK entsteht eine Auseinandersetzung mit
            Bildbetrachtung.
            <br><br>
            Diese Website zeigt eine Umfrage mit Bild-Text-Fragmenten, die aus handgeschriebenen Texten entnommen wurden
            und auf weissem Hintergrund zur Interpretation präsentiert werden. Beschreibe deine Assoziationen im
            Eingabefeld der Umfrage und werde Teil des Bachelorprojekts.
            <br><br>
            Der ETH-Student Martin Villavicencio verwendet ein Deep-Writing-Programm, das handgeschriebene Texte mit
            Hilfe von künstlicher Intelligenz lesen kann und entwickelt so ein Deep-Reading-Programm zur Interpretation
            der Text-Bild-Fragmente. Im Archiv steht deine und die Bildentschlüsselung anderer Probanden einer Maschine
            gegenüber.
        </div>

        <div class="link-container text">
            <div *ngIf="!isNaN(continue_id); else startSurvey">
                <a [routerLink]="[base_url, continue_id]">Umfrage</a>
            </div>

            <ng-template #startSurvey>
                <div>
                    <a [routerLink]="[base_url, starting_id]">Umfrage</a>
                </div>
            </ng-template>

            <div class="archiv-link">
                <a routerLink="/archiv">Archiv</a>
            </div>
            <div class="more-link">
                <a routerLink="/more">Mehr</a>
            </div>
        </div>
    </div>
</div>
<div class="background">
    <img *ngFor="let p of backgroundPictures" [src]="p.url" [style.height.px]="imageHeight" #backgroundImage>
</div>