:host {
    display:flex;
    justify-content: space-around;
    height: 100vh;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-container{
    width: 300px;
    height: 280px;
    position: relative;
}

.link-container:hover{
    cursor: pointer;
    color: #0000EE;
}


.link-container img{
    width: 300px;
}

.link-container .text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color:black;
}