<div class="container">
    <a class="link-container" [href]="bachelorthesis_url">
        <img src="assets/dokumentation.png">
        <div class="text">
            Dokumentation des Projekts
        </div>
    </a>
    <div class="link-container" (click)="toggleVideoByClick()" [appVideoPopup]="video">
        <img src="assets/interview.jpg">
        <div class="text">
            Video Interview mit Martin Villavicencio
        </div>
    </div>
    <a class="link-container" routerLink="/more/draw">
        <img src="assets/draw.png">
        <div class="text">
            Test: Kann das Deep-Reading-Programm deine Schrift lesen?
        </div>
    </a>
    <div class="share-container">
        <app-share-button></app-share-button>
    </div>
</div>

<ng-template #video>
    <video [src]="interview_url" controls></video>
</ng-template>