<div class="container">
    <a class="link-container" [href]="bachelorthesis_url">
        <img src="assets/dokumentation.png">
        <div class="text">
            Dokumentation des Projekts
        </div>
    </a>
    <a class="link-container" [href]="interview_url">
        <img src="assets/interview.jpg">
        <div class="text">
            Video Interview mit Martin Villavicencio
        </div>
    </a>
    <a class="link-container">
        <img src="assets/draw.png">
        <div class="text">
            Test: Kann das Deep-Reading-Programm deine Schrift lesen?
        </div>
    </a>
</div>