.text-container{
    max-width: 720px;
    margin: 70px auto 50px auto;
    padding-left: 30px;
    padding-right: 30px;
}

.list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.img-container{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

img{
    width: 120px;
    display:block;
    margin: auto;
}

img:hover{
    cursor: pointer;
}