<div class="body">
    <div class="text-container">
        <div class="title">
            Alle Bilder auf einen Blick
        </div>
        <div class="text">
            Hier im Archiv findest du alle Bild-Text-Fragmente der Umfrage. Mit Klick auf das jeweilige Bild gelangst du
            zu den bisher gesammelten Interpretationen der Website-Probanden. Ihnen werden die Interpretation zwei
            verschiedener Arten von maschineller Schriftinterpretation gegenübergestellt. Die «Baseline» Interpretation
            versucht in den Bildfragmenten Buchstaben zu entschlüsseln. Die «Sequenz to Sequenz» Interpretation (kurz:
            «Seq2Seq») versucht basierend auf die erkannten Buchstaben sinnvolle Worte zu formen.
            <br><br>
            Im Fokus von «Machine Learning» sind Algorithmen die Daten analysieren, von ihnen lernen und dann
            Voraussagen treffen können. «Deep Learning», ein Teilbereich des «Machine Learning», befasst sich mit
            neuralen Netzwerken.
        </div>
    </div>
    <div class="list">
        <div class="img-container" *ngFor="let p of pictures">
            <div class="overlay"></div>
            <img [src]="p.url" [routerLink]="['/archiv', p.id]">
        </div>
    </div>
</div>