<div class="outer-wrap">
    <div class="title">
        Test: Kann das Deep-Reading-Programm deine Schrift lesen?
    </div>
    <div class="text">
        Schreibe in das untere Feld und lasse es von einem der Deep-Learning-Modelle analysieren.
    </div>
    <div>
        <canvas appCanvasDraw [clear_canvas]="clear_canvas" (clear_history)="clearCanvas()"
            (newStrokeEvent)="newStroke($event)" id="canvas" style="border:solid black 1px;">
            Your browser does not support canvas element.
        </canvas>
    </div>
    <div class="buttons">
        <button (click)="submit()">Analysieren</button>
        <button (click)="clearCanvas()">Eingabe löschen</button>
    </div>
    <div class="share-container">
        <app-share-button></app-share-button>
    </div>
    <div class="container">
        <div class="results" *ngIf="result.length!=0">
            <div class="text">Ergebnisse: </div>
            <div *ngFor="let elem of result">
                {{elem[0]}}
            </div>
        </div>
        <div class="selection">
            <div class="text">
                Wähle ein Deep-Learning-Model:
            </div>
            <div *ngFor="let model of model_list">
                <a [routerLink]="['/more/draw', model[0]]">{{model[1]}}</a>
            </div>
        </div>
    </div>
    <div class="home-container">
        <a routerLink="/">Startseite</a>
    </div>
</div>