/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

$title-font: Lato;
$title-size: 32px;
$text-font: merriweather;

body{
    margin: 0px;
}

.title{
    font-family: $title-font;
    font-size: $title-size;
    margin-bottom: 30px;
}

.text{
    font-family: $text-font;
    font-size: 16px;
    text-align: justify;
}

.cdk-overlay-backdrop:hover{
    cursor: pointer;
}